{# Load the tag library#}
{% load bootstrap4 %}
{% load static%}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Split Bills</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="split_bills/split_bills_app/templates/cash.svg">
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">    
      {% block menu%}
      <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="{% url 'house-list' %}">Split Bills</a>
       {% if request.user.is_authenticated %} 
       <a href={% url 'logout' %}>Logout</a>
       {% else %}
       <a href={% url 'login' %}>Login</a>
       {% endif %}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class='nav-link' href="{% url 'house-list' %}">Houses</a></li>
          <li class="nav-item"><a class='nav-link' href="{% url 'residents-list' %}">Residents</a></li>
          <li class="nav-item"><a class='nav-link' href="{% url 'bill-type-list' %}">Bill Type</a></li>
          <li class="nav-item"><a class='nav-link' href="{% url 'bills-list' %}">Bills</a></li>
          </ul>
        </div>
      </nav>
      {% endblock%}
      </div>
      <div class="col-sm-10 ">{% block content %}{% endblock %}</div>
    </div>
  </div>
</body>
</html>