{% extends "split_bills_app/base_generic.html" %}

{% block content %}
<div class="row">
    <div class="col-xl-12">
        <div class="card bg-secondary shadow h-100">
            <div class="card-header bg-white border-0">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h3 class="mb-0">List of Bill</h3>
                    </div>
                    <div class="col-4 text-right">
                        <a href="{% url 'bills-create' %}" class="btn btn-sm btn-success">New</a>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table align-items-center table-flush table-dark">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">House</th>
                        <th scope="col">Type</th>
                        <th scope="col"></th>                     
                    </tr>
                </thead>
                <tbody>
                    {% for bills in bills_list %}
                    <tr>
                        <td>{{ bills }}</td>
                        <td>{{ bills.cod_house }}</td>
                        <td>{{ bills.cod_bill_type }}</td>
                        <td class="text-right">
                            <div class="container">
                                <a role='button' class="btn btn-primary" href="{% url 'bills-update' bills.cod_bills %}">Update</a>
                                <a role='button' class="btn btn-danger" href="{% url 'bills-delete' bills.cod_bills %}">Delete</a>
                            </div>                            
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
{% endblock %}