{% extends "split_bills_app/base_generic.html" %}
{% load bootstrap4 %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h5 class="card-title">Create a New</h5>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-success">Create</button>
            {% endbuttons%}
        </form>
    </div>
</div>
{% endblock %}